header {
    align-items: center;
    background: #C78845;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: black;
    margin-right: 1.1rem;
    text-align: none;
    text-transform: uppercase;
}

.gradiente {
    background: linear-gradient(#FFFFFF, #CCCCCE);
}


/*
CSS pagina receitas
*/

.receita1 {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.receita1 li {
    width: 30%;
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.receita1 li:hover {
    text-align: center;
    border-color: green;
}

.receita1 li:active {
    text-align: center;
    font: 1.2em;
    color: blue;
}

.receita1 li:hover h2 {
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    border-color: green;
}

.itens {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    margin: 15px 5px;
}

.itens1 {
    width: 100%;
    text-align: center;
    font-size: 15px;
    margin: 15px 5px;
}

.video {
    font-family: 'Courier New', Courier, monospace;
    width: 8%;
    height: 10% auto;
    margin-left: 45%;
    background: transparent;