.menu-lista {
    display: flex;
}

.menu-item {
    list-style: none;
    margin-right: 0;
}

.menu-link {
    color: black;
    margin-right: 1.1rem;
    text-align: none;
    text-transform: uppercase;
}

.menu-link.ativo {
    color: blue;
    font-weight: bold;
}

.menu-link:hover {
    text-decoration: underline;
}