.rodape {
    background: #bfbfbf;
    color: #302b2b;
    text-align: left;
    padding: 2rem;
    text-transform: lowercase;
}

.rodape__video {
    background: #bfbfbf;
    text-align: left;
    padding: 0rem;
    width: 10%;
}