.receitas {
    background-color: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (min-width: 0) {
    .receitas {
        padding: 0 2rem 0 2rem;
    }
}

@media screen and (min-width: 760px) {
    .receitas {
        padding: 5rem 0 0 2.5rem;
    }
}

@media screen and (min-width: 990px) {
    .receitas {
        padding: 5rem 0 0 5rem;
    }
}

.receita {
    background: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

@media screen and ( min-width: 0) {
    .receita {
        margin-right: 1rem;
        width: 100%;
    }
}

@media screen and ( min-width: 760px) {
    .receita {
        margin-right: 2.5rem;
        width: calc(33% - 2.5rem);
    }
}

@media screen and ( min-width: 990px) {
    .receita {
        margin-right: 5rem;
        width: calc(25% - 5rem);
    }
}

.receita__botao {
    text-align: center;
    background: #9e0d0d;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    margin-left: 35%;
}

.receita__botao:hover {
    background: #620404;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.receita__conteudo {
    align-items: center;
    position: center;
    padding: 1rem;
}

.receita__descricao {
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: center;
}

.receita__imagem {
    height: 150px;
}

@media screen and ( min-width: 0) {
    .receita__imagem {
        margin-left: 10%;
        width: 90%;
    }
}

.receita__titulo {
    text-align: center;
    font-size: 1.2rem;
}