.banner {
    position: relative;
}

.banner__imagem {
    background-color: #e5e5e5;
    background: url(../img/fundo20.jpg) no-repeat center / cover;
    height: calc(100vh - 70px);
    width: 100%;
}

@media screen and ( min-width: 0) {
    .banner__imagem {
        height: calc(45vh - 70px);
        width: 100%;
    }
}

@media screen and ( min-width: 760px) {
    .banner__imagem {
        height: calc(95vh - 70px);
        width: 100%;
    }
}

.banner__titulo {
    color: rgb(226, 212, 194);
    font-family: Pacifico, cursive;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 0 10px 10px black;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and ( min-width: 0) {
    .banner__titulo {
        font-size: 3rem;
    }
}

@media screen and ( min-width: 768px) {
    .banner__titulo {
        font-size: 5.06rem;
    }
}