.cabecalho {
    width: auto;
    height: auto;
    align-items: center;
    background: #bfbfbf;
    display: flex;
    justify-content: space-between;
    padding-left: 0rem;
    padding-right: 1.5rem;
}

@media screen and (min-width:0) {
    .cabecalho {
        justify-content: center;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 0 5rem;
        justify-content: space-between;
    }
}