.body {
    .fundo {
        background-color: #e5e5e5;
    }
}

.video {
    font-family: 'Courier New', Courier, monospace;
    width: 8%;
    height: 10% auto;
    margin-left: 45%;
    background: transparent;
}