.menu__lista {
    display: flex;
}

@media screen and (min-width:0) {
    .menu__lista {
        font-size: 0.70rem;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px) {
    .menu__lista {
        font-size: 1rem;
        display: flex;
    }
}

.menu__item {
    list-style: none;
    margin-right: 0;
}

.menu__link {
    color: black;
    margin-right: 1.1rem;
    text-align: none;
    text-transform: uppercase;
}

.menu__link.ativo {
    color: rgb(62, 62, 83);
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}